<%- include('partials/Header'); -%>

    <section id="about">
        <h1>About Us</h1>
        <p>Our new hospital is a state-of-the-art medical facility that has been designed to provide the highest level
            of care to patients. With its modern infrastructure and advanced medical technology, the hospital is
            equipped to handle a wide range of medical conditions and emergencies.

            The hospital is staffed by a team of highly qualified and experienced healthcare professionals who are
            dedicated to providing compassionate care to patients. They are trained in the latest medical techniques and
            procedures, and work closely with each other to ensure that patients receive the best possible care.

            The hospital is equipped with the latest medical equipment, including advanced diagnostic tools, surgical
            equipment, and life support systems. This enables doctors and nurses to quickly and accurately diagnose and
            treat patients, improving their chances of recovery.

            In addition to its medical facilities, the hospital also provides a range of amenities to ensure that
            patients are comfortable and well-cared for during their stay. These amenities include comfortable and
            spacious patient rooms, a cafeteria, and a gift shop.

            Overall, our new hospital is a world-class medical facility that is designed to meet the needs of patients
            in the 21st century. Whether you need emergency care or are undergoing a complex medical procedure, you can
            trust that you will receive the highest level of care at our hospital.
        </p>
    </section>
    <%- include('partials/Footer'); -%>