<!DOCTYPE html>
<html>

<head>
    <title>Alphabet Chart with Image Mapping</title>
</head>

<body>
    <h1>Click on any Alphabet</h1>

    <img id="map" src="https://i.ibb.co/bb1hP2q/alphabet-grid-12516.jpg" usemap="#mainmap" />

    <map name="map" id="mainmap"></map>

    <script>
        var html_string = ""

        for (i = 0; i < 5; i++)
            for (j = 0; j < (i == 4 ? 2 : 6); j++)
                html_string += `<area shape="rect" coords="${[
                        j * 107,
                        i * 107,
                        (j + 1) * 107,
                        (i + 1) * 107
                    ]
                    }" href="https://en.wikipedia.org/wiki/${String.fromCharCode(65 + i * 6 + j)}" target="_blank"/>`

        document.getElementById('mainmap').innerHTML += html_string
    </script>
</body>

</html>