<%- include('partials/Header'); -%>
    <section id="contact">
        <h1>Contact Us</h1>
        <p>If you have any questions or concerns, please don't hesitate to contact us.</p>
        <form action="mailto:msaikat022@gmail.com" method="GET">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email">

            <label for="message">Message:</label>
            <textarea id="message" name="message"></textarea>

            <button class="btn" type="submit">Send</button>
        </form>
    </section>


    <%- include('partials/Footer'); -%>