<%- include('partials/Header'); -%>
    <main class="container">

        <div class="getting-started">
            <div class="main-left">
                <button class="btn">Get started<i class="fa-solid fa-arrow-right"></i>

                </button>
            </div>
            <div class="main-right">
                <ul class="right-ul">
                    <li>Registration and Enquiry management</li>
                    <li>Appoinments</li>
                    <li>Casualty and Emergency</li>
                    <li>Pharmacy system</li>
                    <li>Pathology</li>
                </ul>
            </div>
        </div>
        <section id="services">
            <h1>Our Services</h1>

        </section>

        <!-- <section id="doctors">
            <h1>Our Doctors</h1>
            <ul>
                <li>Dr. John Smith, Cardiologist</li>
                <li>Dr. Jane Doe, Oncologist</li>
                <li>Dr. David Lee, Neurologist</li>
            </ul>
        </section> -->




    </main>

    <%- include('partials/Footer'); -%>