<%- include('partials/Header'); -%>
  <main class="container">
    <div class="getting-started">
      <div class="main-left">

        <h1 class="left-heading">Apka swasth , Hamara dhyan</h1>
        <p class="left-para">An Initiative by government of India</p>
        <a href="/register" class="btn">
          Get started<i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
      <div class="main-right">

      </div>
    </div>
    <!-- services  -->
    <h1 class="services-heading">Our Services</h1>
    <div id="services">


      <div class="cards">


        <div class="card">
          <h1>Emergency</h1>
          <p>Our system provides emergency services plays a critical role in ensuring the well-being and immediate
            medical care of individuals experiencing sudden and life-threatening health conditions. These hospitals are
            equipped with specialized departments, dedicated staff, and advanced medical technologies to handle
            emergencies promptly and efficiently.
          </p>
        </div>

        <div class="card">
          <h1>Live sick report</h1>
          <p>Our system provides live video chatting with doctors offers a convenient and accessible means of medical
            consultation and support. This innovative approach to healthcare utilizes technology to bridge the gap
            between patients and doctors, providing virtual medical services. </p>
        </div>

        <div class="card">
          <h1>24hrs healthcare Chatbot</h1>
          <p>Our system provides 24-hour chatbot service enhances the accessibility and responsiveness of healthcare
            support for patients. A chatbot is an artificial intelligence-powered program that interacts with users via
            text messaging</p>
        </div>


      </div>


  </main>
  <section id="about">

    <img src="/doc.jpg" alt="" class="doc-img" />

    <div class="about-right">
      <h1 class="about-head">About us</h1>
      <p>Our new hospital is a state-of-the-art medical facility that has been designed to provide the highest level
        of care to patients. With its modern infrastructure and advanced medical technology, the hospital is
        equipped to handle a wide range of medical conditions and emergencies.

        The hospital is staffed by a team of highly qualified and experienced healthcare professionals who are
        dedicated to providing compassionate care to patients. They are trained in the latest medical techniques and
        procedures, and work closely with each other to ensure that patients receive the best possible care.

        The hospital is equipped with the latest medical equipment, including advanced diagnostic tools, surgical
        equipment, and life support systems. This enables doctors and nurses to quickly and accurately diagnose and
        treat patients, improving their chances of recovery.

        In addition to its medical facilities, the hospital also provides a range of amenities to ensure that
        patients are comfortable and well-cared for during their stay. These amenities include comfortable and
        spacious patient rooms, a cafeteria, and a gift shop.

        Overall, our new hospital is a world-class medical facility that is designed to meet the needs of patients
        in the 21st century. Whether you need emergency care or are undergoing a complex medical procedure, you can
        trust that you will receive the highest level of care at our hospital.
      </p>
    </div>
  </section>

  <%- include('partials/Footer'); -%>