<%- include('partials/Header'); -%>
  <main class="container">
    <div class="getting-started">
      <div class="main-left">

        <h1 class="left-heading">Healthcare, Anywhere: Bringing healthcare to Your Fingertips!</h1>
        <p class="left-para">An Initiative by VIT Bhopal students</p>
        <a href="/register" class="btn">
          Get started<i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
      <div class="main-right">

      </div>
    </div>
    <!-- services  -->
    <h1 class="services-heading">Our Services</h1>
    <div id="services">


      <div class="cards">


        <div class="card">
          <h1>Emergency</h1>
          <p>Our system provides emergency services plays a critical role in ensuring the well-being and immediate
            medical care of individuals experiencing sudden and life-threatening health conditions. These hospitals are
            equipped with specialized departments, dedicated staff, and advanced medical technologies to handle
            emergencies promptly and efficiently.
          </p>
        </div>

        <div class="card">
          <h1>Live sick report</h1>
          <p>Our system provides live video chatting with doctors offers a convenient and accessible means of medical
            consultation and support. This innovative approach to healthcare utilizes technology to bridge the gap
            between patients and doctors, providing virtual medical services. </p>
        </div>

        <div class="card">
          <h1>24/7 healthcare Chatbot</h1>
          <p>Our system provides 24-hour chatbot service enhances the accessibility and responsiveness of healthcare
            support for patients. A chatbot is an artificial intelligence-powered program that interacts with users via
            text messaging</p>
        </div>


      </div>


  </main>
  <section id="about">

    <img src="/doc.jpg" alt="" class="doc-img" />

    <div class="about-right">
      <h1 class="about-head">About us</h1>
      <p>Our new website is a state-of-the-art medical facility that has been designed to provide the highest level
        of care to patients. With its modern software and advanced technology, the systen is
        equipped to handle a wide range of medical conditions and emergencies.
        <br />
        <br />
        The hospital is staffed by a team of highly qualified and experienced healthcare professionals who are
        dedicated to providing compassionate care to patients. They are trained in the latest medical techniques and
        procedures, and work closely with each other to ensure that patients receive the best possible care.
        <br />
        <br />
        In addition to its medical facilities, the system also provides a range of amenities to ensure that
        patients are comfortable and well-cared for during their treatment.
        <br />
        <br />
        Overall, our new software is a world-class medical facility that is designed to meet the needs of patients
        in the 21st century. Whether you need emergency care or are undergoing a complex medical procedure, you can
        trust that you will receive the highest level of care.
      </p>
    </div>
  </section>

  <%- include('partials/Footer'); -%>