<%- include('partials/Header'); -%>
  <main class="container">
    <div class="getting-started">
      <div class="main-left">
        <button class="btn">
          Get started<i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
      <div class="main-right">
        <ul class="right-ul">
          <li>Registration and Enquiry management</li>
          <li>Appoinments</li>
          <li>Casualty and Emergency</li>
          <li>Pharmacy system</li>
          <li>Pathology</li>
        </ul>
      </div>
    </div>
    <h1 class="services-heading">Our Services</h1>
    <div id="services">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Emergency care</h3>
          <p class="card-text">
            In emergency care, Our medical professionals work to stabilize the
            patient's condition, assess the severity of the medical problem, and
            provide appropriate treatment. The goal of emergency care is to ensure
            the patient is safe, comfortable, and receives timely care to minimize
            the risk of complications or long-term damage.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Inpatient care</h3>
          <p class="card-text">
            Inpatient care is usually more intensive and involved than outpatient
            care, which is medical care provided to patients who do not require
            hospitalization and can be treated on an outpatient basis, such as in
            a doctor's office or clinic.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Diagnostic services</h3>
          <p class="card-text">
            Diagnostic services refer to medical procedures or tests used to
            identify, diagnose, and monitor medical conditions or diseases. These
            services play an essential role in medical care by providing
            healthcare professionals with important information to help them make
            accurate diagnoses and develop effective treatment plans.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Outpatient care</h3>
          <p class="card-text">
            Outpatient care can be an effective way to manage chronic medical
            conditions or to receive preventive care to help maintain overall
            health and wellness. It is also useful for patients who require
            follow-up care after being discharged from the hospital or for those
            who need ongoing monitoring and management of a medical condition.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Surgical services</h3>
          <p class="card-text">
            Diagnostic services are typically provided by trained medical
            professionals, such as radiologists, pathologists, and laboratory
            technicians, who use specialized equipment and techniques to perform
            these tests and procedures.
          </p>
        </div>
      </div>
    </div>

    <!-- <section id="doctors">
            <h1>Our Doctors</h1>
            <ul>
                <li>Dr. John Smith, Cardiologist</li>
                <li>Dr. Jane Doe, Oncologist</li>
                <li>Dr. David Lee, Neurologist</li>
            </ul>
        </section> -->
  </main>

  <%- include('partials/Footer'); -%>