<%- include('partials/Header'); -%>
    <section id="signup-section">
        <form>
            <h1 class="form-heading">Please register here to continue</h1>
            <input type="username" id="uName" placeholder="username" name="username">
            <input type="email" id="uEmail" aria-describedby="emailHelp" placeholder="email" name="email">

            <input type="password" id="uPass" placeholder="password" name="password">

            <button type="submit" class="btn" id="loginBtn">Login / Signup</button>
        </form>
    </section>

    <%- include('partials/Footer'); -%>