* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* General Styles */

main {
  background-image: url("");
  width: 100%;
}

header {
  background-color: #0066cc;
  color: #fff;
}

nav {
  display: flex;
  padding: 0.5em 2em;
  justify-content: space-between;
  font-size: 1.2rem;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.logo {
  height: 4rem;
  border-radius: 2rem;
}
.getting-started {
  background-image: url("/bg.jpg");
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-top: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#about {
  min-height: 100vh;
  padding: 2rem;
}

input,
textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid black;
  border-radius: 20rem;
  outline: none;
}

.btn {
  background-color: #0066cc;
  font-size: 1.5rem;
  color: #fff;
  padding: 0.5em 1rem;
  border: none;
  border-radius: 20rem;
  cursor: pointer;
}

button:hover {
  background-color: #0052a3;
}

.fa-arrow-right {
  padding-left: 1em;
}

.container {
  min-height: 100vh;
}

footer {
  background-color: #0d1156;
  color: white;
  min-height: 10vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-ul {
  list-style: none;
}

.right-ul li {
  color: white;
  background-color: #0066cc;
  border-radius: 20rem;
  padding: 1rem 2em;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.right-ul li:hover {
  background-color: #0f375f;
}

#services {
  display: flex;
  align-items: center;
}

#contact {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
